/* @import url('https://fonts.googleapis.com/css?family=El+Messiri'); */
@import url("https://fonts.googleapis.com/css?family=Baloo+Bhaijaan");
@import url("https://fonts.googleapis.com/css?family=Changa");

body {
  /* font-family: "El Messiri", sans-serif; */
  font-family: "Changa", sans-serif;
  direction: rtl;
}

.main-content {
  height: 100%;
  width: 160%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  border-top-right-radius: 70px;
}
.background {
  position: absolute;
  width: 100%;
  height: 110%;
  top: 0;
  left: 0;
  /* background: #fff; */
}
.play {
  position: absolute;
  width: 100%;
  height: 150%;
  top: 0;
  left: 0;
  background-size: cover;
  background-image: url("../images/jungle-background_4623457.jpg");
}
.levels {
  position: absolute;
  /* width: 100%; */
  height: 200%;
  top: 0;
  left: 0;
  background-size: cover;
  background-image: url("../images/levels2.png");
}

.background {
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    #47d3ff 0%,
    #1c6588 100%
  );
  background: radial-gradient(ellipse at center, #47d3ff 0%, #1c6588 100%);
}

.background #islandContainer {
  position: relative;
  width: 100%;
  /* height: 100%; */
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -47%);
}

img.island {
  width: 30%;
  max-height: 70%;
  margin: 40px;
}
img.island:hover {
  -webkit-animation: scale-up-center 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
img.island2 {
  width: 10%;
  max-height: 70%;
  margin: 40px;
  filter: grayscale();
}
img.island3:hover {
  -webkit-animation: scale-up-center 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
img.island2:hover {
  filter: none;
}
img.island25:hover {
  -webkit-animation: scale-up-center 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
img.island3 {
  width: 20%;
  max-height: 70%;
  margin: 30px;
  filter: grayscale();
}
img.island3:hover {
  filter: none;
}
.animated {
  -webkit-animation: movingIsland 2s ease-in-out 0s infinite alternate;
}
.animatedCard {
  position: relative;
  width: 100%;
  height: 70%;
  top: 60%;
  left: 50%;
  -webkit-animation: movingIsland 2s ease-in-out 0s infinite alternate;
}
.animatedCardBird {
  position: relative;
  -webkit-animation: movingIsland 2s ease-in-out 0s infinite alternate;
}
.backgroundlevel {
  background-image: url("../images/68755-OCH11U-750.png");
  background-repeat: no-repeat;
  padding: 80px;
}
.background img.cloudBig {
  position: absolute;
  height: auto;
  top: -40%;
  left: 51%;
  opacity: 0;
}

.background img.cloudSmall {
  position: absolute;
  height: auto;
  top: -2%;
  left: 37%;
  opacity: 0;
}
.background img.cloudSmall.animated {
  -webkit-animation: smallCloudAnimation 25s linear 0s infinite;
  animation: smallCloudAnimation 25s linear 0s infinite;
}

.background img.cloudBig.animated {
  -webkit-animation: bigCloudAnimation 17s linear 0s infinite;
  animation: bigCloudAnimation 17s linear 0s infinite;
}
@-webkit-keyframes smallCloudAnimation {
  0% {
    -webkit-transform: translate(0%, 0%);
    opacity: 0;
  }
  20% {
    -webkit-transform: translate(60%, 0%);
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(240%, 0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(300%, 0%);
    opacity: 0;
  }
}
@-webkit-keyframes bigCloudAnimation {
  0% {
    -webkit-transform: translate(0%, 0%);
    opacity: 0;
  }
  20% {
    -webkit-transform: translate(-30%, 0%);
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(-120%, 0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(-150%, 0%);
    opacity: 0;
  }
}
@-webkit-keyframes movingIsland {
  0% {
    -webkit-transform: translate(-50%, -47%);
  }
  100% {
    -webkit-transform: translate(-50%, -53%);
  }
}
.list-of-blocks-board {
  background-repeat: no-repeat;
  height: 170px;
  max-height: 200px;
  width: 80%;
  max-width: 80%;
  /* border-radius: 25px 5px 5px 5px; */
  flex-direction: column;
  /* overflow-x: scroll; */
  /* background-color: white; */
}
.play-header {
  float: left;
  /* background-color: #ffffff; */
  background-image: linear-gradient(360deg, rgb(0, 0, 0, 0) 2%, #16372b 80%);
  width: 885px;
  border-top-right-radius: 70px;
  /* border-bottom-right-radius: 70px; */
}

.list-tags-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* s */
  /* padding-right: 5px !important; */
}

.tag-block {
  /* border: 1px solid rgb(233, 101, 101);
  
  */
  border-radius: 5px 25px 5px 25px;
  background-color: #ba6c01;
  /* background-image: linear-gradient(900deg,  20%, #ffffff 64%); */
  color: white;
  font-weight: bold;
  display: flex;
  height: auto;
  /* padding-right: 40px;
  padding-left: 40px; */
  justify-content: center;
  align-items: center;
}
.tool {
  color: white;
  border-bottom-right-radius: 70px;
  border-bottom-left-radius: 70px;
  background-color: #679950;

  /* box-shadow: 5px 5px #888888; */
}

.building-board-area {
  border-radius: 16px 16px 16px 16px;
  width: 50%;
  max-width: 50%;
  height: 665px;
  max-height: 665px;
  margin-left: 6px;
  overflow: scroll;
}

.building-container {
  background-color: transparent;
  height: 100%;
}

.preview-borad-area {
  border-radius: 16px 16px 16px 16px;
  width: 48%;
  max-width: 48%;
  height: 665px;
  max-height: 665px;
  /* overflow-y: scroll; */
  /* background-color: white; */
}

.instructions-board {
  width: 20%;
  max-width: 20%;
  height: 200px;
  max-height: 110px;
  border-radius: 5px 25px 5px 5px;
  margin-top: 12%;
}
.head {
  width: 100%;
  height: 70px;
  background-image: url("../images/flat_chrome.png");
  background-repeat: no-repeat;
}
.border {
  border: 5px solid black;
  height: 595px;
}
.waves {
  background: #1c6588 url("../images/island.png") repeat-x 15% -100px;
  height: 595px;
  background-size: 470px;
  -webkit-animation: bg-move 5s ease-in infinite;
}

/* .secondLevelBody {
  background: #1c6588 url("../images/island.png") repeat-x 15% -100px;
  height: 595px;
  background-size: 470px;
  -webkit-animation: bg-move 5s ease-in infinite;
} */
.boat {
  width: 140px;
  position: absolute;
  bottom: 70%;
  left: 65%;
}
.boat img {
  width: 100%;
}
.boat::after {
  content: "";
  display: block;
  width: 120px;
  height: 120px;
  background-size: 100px;
  position: absolute;
  top: -2%;
  left: 1%;
  opacity: 0;
}
.boat {
  -webkit-animation: rock-boat 2s ease-in-out infinite;
}
.boat::after {
  -webkit-animation: steam 4s 2s infinite;
}
.waves {
  -webkit-animation: bg-move 8s ease-out infinite;
}
.mike {
  -webkit-animation: mike-move 6s 6s ease-out forwards, mike-float 3.2s infinite;
}
@-webkit-keyframes rock-boat {
  50% {
    -webkit-transform: rotate(-5deg) translateY(-20px);
  }
}
@-webkit-keyframes steam {
  40%,
  60% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(-15%, -35%) rotateZ(20deg);
  }
}
@-webkit-keyframes bg-move {
  0% {
    background-position: 100% -220px;
  }
  100% {
    background-position: -250% -220px;
  }
}
@-webkit-keyframes mike-float {
  50% {
    -webkit-transform: rotateZ(5deg) translateY(-5px);
  }
}
@keyframes scale-up-center {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
.Pirate {
  margin-top: 90%;
}

.overlay {
  position: fixed; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.btn-light {
  background-color: #5bd3e4;
  color: #fff;
  border-width: 2px 2px 4px;
  border-color: #3db4c5;
  border-radius: 16px;
  border-style: solid;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  line-height: 20px;
  -webkit-tap-highlight-color: transparent;
  text-align: center;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-filter 0.2s;
  transition: filter 0.2s;
  transition: filter 0.2s, -webkit-filter 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  font-weight: 700;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  height: 48px;
}

.green-btn {
  background-color: #1fc997;
  border-color: #16ab7f;
}

.footer {
  font-size: 20px;
  color: #c5c5c5;
}

.footer-heart {
  color: #e11f5a;
}

.content-container {
  border: 2px solid #f1f1f1;
  height: 100%;
  min-height: 600px;
  border-radius: 16px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.content-header {
  padding: 30px;
  height: 100%;
  min-height: 120px;
  color: #fff;
  background-color: #1fc997;
  border-radius: 16px 16px 0px 0px;
}

.content-start-btn {
  background-color: #fff;
  color: #fff;
  border-width: 2px 2px 4px;
  border-color: #3db4c5;
  border-radius: 16px;
  border-style: solid;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  line-height: 20px;
  -webkit-tap-highlight-color: transparent;
  text-align: center;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-filter 0.2s;
  transition: filter 0.2s;
  transition: filter 0.2s, -webkit-filter 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  font-weight: 700;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  height: 48px;
  background-color: #f3fffb;
  border-color: #c3ffed;
}

.content-back-btn {
  background-color: #fff;
  color: #fff;
  border-width: 2px 2px 4px;
  border-color: #3db4c5;
  border-radius: 16px;
  border-style: solid;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  line-height: 20px;
  -webkit-tap-highlight-color: transparent;
  text-align: center;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-filter 0.2s;
  transition: filter 0.2s;
  transition: filter 0.2s, -webkit-filter 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  font-weight: 700;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  height: 48px;
  background-color: #1fc997;
  border-color: #1fc997;
  padding-left: 0px !important;
}
.box {
  width: 70px;
  height: 75px;
  border: 2px solid white;
  border-radius: 0.3em;
  position: relative;
  overflow: hidden;
  box-shadow: 2px 0px 40px black;
  transform: scale(2);
}

.wave {
  width: 150px;
  height: 150px;
  position: absolute;
  left: -50%;
  bottom: -190%;
  border-radius: 33%;
  transition: all 1.4s linear;
  animation: waves 2.4s linear infinite;
}

.lightblue {
  background: linear-gradient(to right, #eaecc6, #2bc0e4);
}

@keyframes waves {
  0% {
    transform: rotate(0);
    border-radius: 30%;
  }
  45% {
    border-radius: 39%;
  }
  100% {
    transform: rotate(360deg);
    border-radius: 30%;
  }
}

@keyframes go-left-right {
  from {
    left: 0px;
  }
  to {
    left: calc(100% - 100px);
  } /* animate to left: 100%-50px */
}

.pirate {
  height: 690px;
  width: auto !important;
}

.sailboat {
  animation: go-left-right 5s infinite alternate;
  /* apply the animation "go-left-right" to the element
     duration 3 seconds
     number of times: infinite
     alternate direction every time
  */

  position: relative;
  width: 50px;
  height: 20px;
}

.content-back-btn {
  background-color: #fff;
  color: #fff;
  border-width: 2px 2px 4px;
  border-color: #3db4c5;
  border-radius: 16px;
  border-style: solid;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  line-height: 20px;
  -webkit-tap-highlight-color: transparent;
  text-align: center;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-filter 0.2s;
  transition: filter 0.2s;
  transition: filter 0.2s, -webkit-filter 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  font-weight: 700;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  height: 48px;
  background-color: #1fc997;
  border-color: #1fc997;
  padding-left: 0px !important;
}

.content-title {
  color: #575d67;
  font-size: 30px;
}

.content-body {
  color: #9fa1a5;
  font-size: 20px;
}

.tag {
  color: #e11f5a;
}

.markdownPB pre {
  top: 10px;
  padding-top: 30px;
  width: 100%;
  margin: 10em;
  padding: 10px;
  border-radius: 16px;
  font-size: 1.5em;
}

.markdownPB {
  font-family: "Baloo Bhaijaan", cursive;
  padding: 1em;
  line-height: 35px;
}
.markdownPB h2 {
  color: #4d535c;
}

.markdownPB p {
  color: #9fa1a5;
  font-size: 18px;
}

.markdownPB ul {
  margin-top: 20px;
  font-size: 18px;
  color: #9fa1a5;
}

.markdownPB em {
  color: #e11f5a;
}

.markdownPB img {
  border: 2px solid #f1f1f1;
  border-radius: 16px;
  padding: 15px;
  width: 70%;
}

.blockAnime:hover {
  animation: jello-horizontal 0.8s ease-in-out both;
}

.bblockAnime {
  animation: bounce-top 1s ease-in-out normal;
}

@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounce-top {
  0% {
    transform: translateY(-45px);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateY(-24px);
    animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(-12px);
    animation-timing-function: ease-in;
  }
  82% {
    transform: translateY(-6px);
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(-4px);
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
